ID_2023_2140_CY.csv
ID_2023_2140_MI.csv
ID_2023_2140_MIdouble.csv
ID_2023_2140_MIFamille.csv
all_data_plotMICY.csv
species_refcollection.csv
Ech2140_ID_prob.csv
ID_Ech2140_wodebris.csv
ID_Ech2140_genus_wodebris.csv
ID_Ech2140_balanced.csv
ID_Ech2140_balanced_essentials.csv
ID_Ech2140_balanced_wotaille.csv
ID_Ech2140_balanced_genus.csv